.about {
  width: 100vh;
  position: absolute;
  width: 100%;
  padding: 20px;
  &-title {
    margin-left: 50px;
  }
}

.about-header {
  display: flex;
  .bio-image {
    max-width: 250px;
    height: 250px;
    margin: auto;
    border-radius: 50%;
    border: 3px solid $secondary-color;
  }
}

.about-info {
  display: grid;
  grid-gap: 3rem;
  grid-template-areas:
    'bio bio bio'
    'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr);

  .bio {
    grid-area: bio;
    font-size: 2rem;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 1rem;
    border-bottom: 5px solid $secondary-color;
  }
}

// SVG Animation

$color: #f3f3f3;
$stroke-width: 2px;
$size: 136px;

.svg {
  display: flex;
  margin-top: 20vh;
  margin-bottom: 2rem;
  .text-1 {
    margin-right: 1rem;
    text {
      stroke-width: $stroke-width;
      stroke-dasharray: 800;
      stroke-dashoffset: -800;
      animation: text1 3s 1 forwards;
    }
  }
  .text-2 {
    text {
      stroke-width: $stroke-width;
      stroke-dasharray: 800;
      stroke-dashoffset: -800;
      animation: text2 3s 1 forwards;
    }
  }
}

@keyframes text1 {
  75% {
    fill: transparent;
    stroke-dashoffset: 0;
    stroke-width: $stroke-width;
  }
  100% {
    stroke-dashoffset: 0;
    fill: $color;
    stroke-width: 0;
  }
}

@keyframes text2 {
  75% {
    fill: transparent;
    stroke-dashoffset: 0;
    stroke-width: $stroke-width;
  }
  100% {
    stroke-dashoffset: 0;
    fill: $secondary-color;
    stroke-width: 0;
  }
}
